.navbar {
    background-color: #0f172a;
    padding: 12px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .page-title {
        color: #fff;
        margin: 0;
    }

    button {
        display: flex;
        align-items: center;
        gap: 4px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 12px 20px;
        color: #fff;
    }

    .inscricao {
        color: #fff;
        font-size: 16px;
        margin: 0;
    }

    .login-icon {
        color: #fff;
        font-size: 24px;
    }

    button:hover {
        opacity: 0.8;
    }
}
