.movie-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    .movie-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 8px; // Espaço entre os botões
        opacity: 0; // Inicialmente invisível
        transition: opacity 0.3s ease-in-out;
    }

    .add-button, .like-button {
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: relative; // Levemente reduzido

    }

    .add-button:hover, .like-button:hover {
        transform: scale(1.2);
    }

    // Estilização das legendas (tooltip)
    .tooltip {
        position: absolute;
        bottom: -25px;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 4px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .add-button:hover .tooltip,
    .like-button:hover .tooltip {
        opacity: 1;
        visibility: visible;
        bottom: -30px;
    }

    .movie-poster img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.6s;
    }

    .movie-infos {
        position: absolute;
        bottom: 0;
        background: linear-gradient(#00000000, #000000 90%);
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 10px;

        .movie-title {
            font-size: 12px;
            color: #f1f5f9;
            margin-bottom: 6px;
        }

        .hidden-content {
            color: #f1f5f9;
            font-size: 12px;
            margin-top: 8px;
            height: 0px;
            opacity: 0;
            transition: all 0.6s;

            .btn-default {
                background-color: #6046ff;
                padding: 6px 8px;
                border-radius: 4px;
                margin-top: 10px;
                color: #fff;
                border: none;
                cursor: pointer;
                width: 100%;
            }
        }
    }
    
    &:hover {
        cursor: pointer;

        .movie-poster img {
            opacity: 0.5;
        }

        .movie-buttons {
            opacity: 1; // Torna os botões visíveis ao passar o mouse
        }

        .like-button, .add-button {
            transform: scale(1); // Retorna ao tamanho normal no hover do card
        }

        .hidden-content {
            opacity: 1;
        }

        .movie-infos:has(.description) .hidden-content {
            height: 100px;
        }

        .movie-infos:not(.movie-infos:has(.description)) .hidden-content {
            height: 50px;
        }
    }
}